# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\hikar\OneDrive\Desktop\BYU_Fall2020\CS_324\DNS_Assignment\dnsresolverlab-handout\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
